@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@font-face {
  font-family: "Citerne";
  font-display: swap;
  font-weight: 300;
  src: url("/fonts/Citerne-Light.woff") format("woff");
}

@font-face {
  font-family: "Citerne";
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/Citerne-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Citerne";
  font-display: swap;
  font-weight: 500;
  src: url("/fonts/Citerne-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Citerne";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Citerne-Italic.woff2") format("woff2");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Citerne, sans-serif;
}
