@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@font-face {
  font-family: "Citerne";
  font-display: swap;
  font-weight: 300;
  src: url("/fonts/Citerne-Light.woff") format("woff");
}

@font-face {
  font-family: "Citerne";
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/Citerne-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Citerne";
  font-display: swap;
  font-weight: 500;
  src: url("/fonts/Citerne-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Citerne";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Citerne-Italic.woff2") format("woff2");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Citerne, sans-serif;
}

@layer components {
  /* Scoped to (footer) layout only */
  .footer-scope {
    @apply my-[80px] md:my-[150px] max-w-[1200px] mx-auto px-4 text-xl;
  }

  .footer-scope h1 {
    @apply text-[40px] font-bold my-[24px];
  }

  .footer-scope h2 {
    @apply text-[30px] font-bold my-[24px];
  }

  .footer-scope h3 {
    @apply text-2xl font-bold my-[24px];
  }

  .footer-scope h4 {
    @apply text-xl font-bold my-[24px];
  }

  .footer-scope h5 {
    @apply text-base font-bold my-[24px];
  }

  .footer-scope p {
    @apply text-xl my-5;
  }

  .footer-scope a {
    @apply underline;
  }

  .footer-scope ul {
    @apply my-5 list-disc list-inside;
  }

  .footer-scope ol {
    @apply my-5 list-decimal pl-10;
  }

  .footer-scope li {
    @apply text-xl;
  }

  .footer-scope ul li + li {
    @apply mt-6;
  }

  .footer-scope details > ul li + li {
    @apply mt-0;
  }

  .footer-scope summary {
    @apply text-xl cursor-pointer;
  }

  .footer-scope details {
    @apply italic;
  }

  .footer-scope details > ul {
    @apply pl-[40px];
  }

  .footer-scope table th,
  .footer-scope table td {
    @apply border border-black p-2;
  }

  .footer-scope table th {
    @apply text-left;
  }
}
