#name: Deploy Feature Branch

on:
  # Runs on pushes targeting feature branches
  push:
    branches: ["release"]
  workflow_dispatch:
  schedule:
    - cron: '38 7,11 * * 1-5' # 9:38 AM and 1:38 PM UTC time, Monday to Friday

jobs:
  # Build job
  build:
    environment:
      name: release
    runs-on: ubuntu-latest
    env:
      DUNE_API_KEY: ${{ secrets.DUNE_API_KEY }}
      NEXT_PUBLIC_CONTENTFUL_SPACE_ID: ${{ vars.NEXT_PUBLIC_CONTENTFUL_SPACE_ID }}
      NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN: ${{ vars.NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: release # This should always be the release branch

      - name: Setup Package Manager
        run: |
          npm install -g pnpm

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "21.0.0"
          cache: pnpm

      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            .next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - name: Install dependencies
        run: pnpm install

      - name: Build with Next.js
        run: pnpm build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: homepage-bundle
          path: ./out

  # Deployment job
  deploy:
    environment:
      name: release
    runs-on: ubuntu-latest
    needs: build
    name: Deploy
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: release # This should always be the release branch

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: homepage-bundle
          path: ./out

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        env:
          NPM_CONFIG_LEGACY_PEER_DEPS: "true"
        with:
          packageManager: npm
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./out --project-name=foundation-homepage --branch release
